.top {
  background-image: url('../img/top.jpeg');
  background-color: #F2E1B5;
  padding: 50px;
  margin-left: 60px;
  margin-right: 60px;
}

.after-top {
  background-color: #E5E5E5;
  padding: 15px;
  margin-left: 60px;
  margin-right: 60px;
}

#first-row {
  background-color: #84C290;
  padding-bottom: 170px;
  text-align: justify;
}

#second-row {
  background-color: #E5E5E5;
  padding-bottom: 340px;
}

.row {
  border: 0px;
  margin-left:60px;
  margin-right: 60px;
}

h5 {
  color: #F2E1B5;
}

h6 {
  color: white;
}

#green {
  color: blue;
}

#img {
  width: 100px;
  height: 100px;
}
